doctype html
html
  head
    title= @title
    link rel="stylesheet" href="./css/bootstrap.min.css"
    css:
      html {
        margin-top: 20px;
      }
  body
  .container
    .col-md-3
      .panel.panel-default
        .panel-heading
          b Resources
        .panel-body
          - @resources.each do |resource|
            a href="#"
              = resource.title

        .panel-footer
    .col-md-9