<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <style type="text/css">
    html {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Resources</b></div>

        <div class="panel-body">

        </div>

        <div class="panel-footer"></div>
      </div>
    </div>

    <div class="col-md-9">
    </div>

  </div>
</body>
</html>
